.DS_Store
Thumbs.db
.vscode/
*.log
npm-debug.log*
yarn-error.log*

backend/node_modules
backend/.env
backend/prisma/*.db
backend/prisma/*.db-journal
backend/dist

frontend/node_modules
frontend/.env*
frontend/dist
frontend/coverage/